{% load static %}
<!DOCTYPE html>
<html>
<head>
	
<title>Privacy Policy - Church of Scientology International</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
	<header>
            <div id="logo">
                <img src="{% static 'images/logo_en.png' %}" />
            </div>
            <div id="logo_spacer"></div>
            <h1>Oxford Capacity Analysis&reg;<span id="personality_text"> | <span class="font-blue">Persönlichkeitstest</span></span>
            {% if superuser %}
                <a href="{% url 'user_detail' %}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Admin Panel</a>
            {% endif %}
            </h1>
        </header>
<main>
     <h2 class="title">COOKIE POLICY</h2>
     <p style="text-align:right">
            
(<em>Last amended 23 May 2018</em>)

        </p>
 <p>This Cookie Policy governs the use of cookies, social media plugins and other similar technologies by the Church of Scientology as part of your visit to our website www.oca.scientology.de (hereinafter: &ldquo;Website&rdquo;). For more information about what cookies and social media plugins are, see Article 2.</p>


        
    <p><strong><em>By continuing to use our Website after having been informed of our use of cookies and social media plugins, you acknowledge that you have read </em></strong><strong><em>all information about that use and that you unambiguously agree to this use as set out in this Cookie Policy below.</em></strong></p>
    <p><strong><em>If you want more (general) information on how we process your personal data other than through cookies and social media plugins, including in relation to your communication with us via e-mail, phone, fax and social media or in relation to your order or purchase, you are kindly referred to our  <a href="{% url 'privacy' %}">Privacy Policy</a>.</em></strong></p>
    <ol>
        <li><strong>WHO ARE WE?</strong>
            <ol>
                <li>Your personal data is processed on the basis of applicable data protection legislation by the Church of Scientology International, 6331 Hollywood Boulevard, Los Angeles, CA 90028, United States of America (hereinafter: &ldquo;CSI&rdquo;, &ldquo;we&rdquo;, &ldquo;us&rdquo;, &ldquo;our&rdquo;). You can contact us via e-mail at <a href="mailto:dpo@scientology.net">dpo@scientology.net</a>.</li>
                <li>Where reference is made in this Cookie Policy to laws or regulations, possible amendments to these laws or regulations are implicitly included.</li>
                <li>We reserve the right to change and adapt this Cookie Policy on our own initiative. In that case, those changes and adaptations will be communicated to you via our Website at least two weeks before those changes and adaptations will become applicable. Any further use of our Website will be subject to the amended Cookie Policy.</li>
            </ol>
        </li>
        <li><strong>WHAT ARE COOKIES AND SOCIAL MEDIA PLUGINS?</strong>
            <ol><!-- list-->
                <li><u>Cookies</u> are small text files which are stored on your device&rsquo;s hard drive which contain certain information or personal data.</li>
                <li><u>Social media plugins</u> are small pieces of software developed and provided by social media service providers (such as Facebook), which allow us to integrate social media on our Website.</li>
                <li><u>Similar technologies</u> are small pieces of software or invisible images (such as the Facebook Pixel) developed and provided by several service providers, which allows us, for example, to track conversions or to better target our promotional campaigns.</li>
            </ol><!-- list-->
        </li>
        <li><strong>WHICH COOKIES, SOCIAL MEDIA PLUGINS AND SIMILAR TECHNOLOGIES DO WE USE?</strong>
            <ol><!-- list-->
                <li>When you visit our Website, a number of cookies are placed on your device and social media plugins are used. These generally allow us to identify you. We use this data to gain insight in how you and others use our Website by gathering statistical and usage data, enabling us to improve our Website, materials and services in order to offer you a better user experience. If you don&rsquo;t like our use of cookies, see Article 7.</li>
                <li>We may use the following type of cookies:
                    <ul>
                        <li><u>Strictly necessary cookies</u> which are required for the operation of our Website;</li>
                        <li><u>Functional cookies</u> which are used to recognize you when you return to our Website;</li>
                        <li><u>Performance-enhancing cookies</u> which are used to recognize and count the number of visitors to our Website and analyse how visitors move around our Website;</li>
                        <li><u>Promotion cookies</u> which are used to record your visit to our Website, the pages you have visited and the links you have followed.</li>
                    </ul><!-- list-->
                </li>
                <li>Our Website uses <u>Google Analytics</u>. This web analytics service, provided by Google Inc., uses analytical cookies. This service helps us to collect and analyse visitor information (such as browser usage, new visitor numbers, response to marketing activity and browsing times) to improve our Website and your experience, and to make our marketing campaigns relevant.
                    <p>The information collected through Google Analytics cookies about your use of our Website is sent to and stored by Google, together with your IP address. Google may, for example, use this information for the following purposes:</p>
                    <ul>
                        <li>Provide advertising activity reports to advertisers and websites that host the promotional information and ensure that those website publishers are paid for;</li>
                        <li>Detect and combat fraud and other security risks to protect users and partners;</li>
                        <li>Fulfil its legal obligations;</li>
                        <li>Improve its materials;</li>
                        <li>Help Website and app owners using Google Analytics to understand how visitors interact with their sites or apps.</li>
                    </ul>
                    <p>For all these activities with the exception of the last bullet point, Google acts as the data controller and the processing of the data it collects about your use of the Website takes place under its responsibility. <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Learn more about Google Analytics Cookie Usage on Websites</a>.</p>
                    <p>However, you can <u>control what information is sent to Google</u> in the following ways:</p>
                    <ul>
                        <li>If you do not want Google Analytics to be used in your browser, you can <a href="https://tools.google.com/dlpage/gaoptout">install the Google Analytics Opt-out Browser Add-on</a>. <a href="https://support.google.com/analytics/answer/6004245?hl=nl">Learn more about Google Analytics and Privacy</a>.</li>
                        <li>If you are logged in to your Google Account, you can &ndash; depending on your account settings &ndash; view and edit certain data that Google collects from sites and apps you visit.</li>
                        <li>The <a href="https://support.google.com/chrome/answer/95464?hl=nl">incognito mode in Chrome</a> allows you to browse the Internet without having web pages and files recorded in your browser history. Cookies are deleted after you close all incognito windows and tabs. Your bookmarks and settings are saved until you delete them.</li>
                        <li><a href="https://adssettings.google.com/authenticated?hl=nl">Advertising settings</a> allow you to manage which Google ads you see on the Internet. You can find out how ads are selected for you, unsubscribe from ads personalization, and block specific advertisers. <a href="https://policies.google.com/technologies/ads?hl=nl">Learn more about ads</a>.
                        </li>
                    </ul>
                </li>
                <li>Our Website may use the <u>Facebook Pixel</u>. This is an invisible image that is included on the pages of our Website and that is stored on Facebook's servers. Each time you open a page of our Website where this pixel has been recorded, this pixel is downloaded to your device from that Facebook server. The following data is provided to Facebook: your IP address and the specific characteristics of your device (e.g. type, operating system, specific software and hardware).
                    <br>
                    <br>
                    <p>While we cannot link this information to you personally, Facebook may do so if you also have a profile on Facebook. To this end, Facebook acts as the data controller. We therefore invite you to consult Facebook's privacy policy in order to learn about the purposes (including advertising purposes) for which the information collected by Facebook is used.</p>
                    <p>We only receive statistical information from Facebook itself and not your personal data.</p>
                    <p>If you do not wish to receive certain promotional information, you can adjust your advertising preferences in your personalised Facebook page. Finally, via the settings of your mobile device, you can also indicate that the machine data cannot be communicated to third parties. <a href="https://www.facebook.com/business/help/651294705016616">Learn more about the Facebook Pixel</a>.</p>
                </li>
                <li>In the table below, we provide you with an overview of the cookies and social media plugins that we use on our Website.</li>
            </ol>
        </li>
        <p>&nbsp;</p>

        <table style="border-collapse: collapse; border: none;" width="100%">
            <tbody>
                <tr>
                    <td style="width: 10.92%; border: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="10%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">&nbsp;</p>
                    </td>
                    <td style="width: 12.5%; border: solid windowtext 1.0pt; border-left: none; padding: 0in 5.4pt 0in 5.4pt;" width="12%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">NAME</p>
                    </td>
                    <td style="width: 17.2%; border: solid windowtext 1.0pt; border-left: none; padding: 0in 5.4pt 0in 5.4pt;" width="17%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">TYPE</p>
                    </td>
                    <td style="width: 37.54%; border: solid windowtext 1.0pt; border-left: none; padding: 0in 5.4pt 0in 5.4pt;" width="37%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">EXPLANATION / PURPOSE </p>
                    </td>
                    <td style="width: 21.84%; border: solid windowtext 1.0pt; border-left: none; padding: 0in 5.4pt 0in 5.4pt;" width="21%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">STORAGE PERIOD</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10.92%; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt;" width="10%">
                        <p style="text-align: justify; text-indent: -.25in; line-height: normal; margin: 12.0pt 0in 12.0pt .5in;">1.<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;</p>
                    </td>
                    <td style="width: 12.5%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="12%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">_ceg.s</p>
                    </td>
                    <td style="width: 17.2%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="17%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookie (performance-enhancing)</p>
                    </td>
                    <td style="width: 37.54%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" rowspan="2" width="37%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookies placed by Crazy Egg Inc., a platform that produces heatmaps that allow us to analyse how users engage with this Website.</p>
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;"><a href="https://www.crazyegg.com/privacy">Consult the Crazy Egg Privacy Policy</a></p>
                    </td>
                    <td style="width: 21.84%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="21%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">3 months</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10.92%; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt;" width="10%">
                        <p style="text-align: justify; text-indent: -.25in; line-height: normal; margin: 12.0pt 0in 12.0pt .5in;">2.<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;</p>
                    </td>
                    <td style="width: 12.5%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="12%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">_ceg.u</p>
                    </td>
                    <td style="width: 17.2%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="17%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookie (performance-enhancing)</p>
                    </td>
                    <td style="width: 21.84%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="21%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">3 months</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10.92%; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt;" width="10%">
                        <p style="text-align: justify; text-indent: -.25in; line-height: normal; margin: 12.0pt 0in 12.0pt .5in;">3.<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;</p>
                    </td>
                    <td style="width: 12.5%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="12%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">heatmaps_g2g_117712</p>
                    </td>
                    <td style="width: 17.2%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="17%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookie (performance-enhancing)</p>
                    </td>
                    <td style="width: 37.54%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="37%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookie to log data about where a visitor is clicking on our Website to generate an aggregated heatmap report of clicks on that page.</p>
                    </td>
                    <td style="width: 21.84%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="21%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">1 hour</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10.92%; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt;" width="10%">
                        <p style="text-align: justify; text-indent: -.25in; line-height: normal; margin: 12.0pt 0in 12.0pt .5in;">4.<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;</p>
                    </td>
                    <td style="width: 12.5%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="12%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">_eventqueue</p>
                    </td>
                    <td style="width: 17.2%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="17%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookie (functional)</p>
                    </td>
                    <td style="width: 37.54%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="37%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookie to store an array of mouse events that can&rsquo;t be guaranteed to be logged to our servers before the current page is unloaded. These events can then be processed and logged on the subsequent page.</p>
                    </td>
                    <td style="width: 21.84%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="21%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">1 hour</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10.92%; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt;" width="10%">
                        <p style="text-align: justify; text-indent: -.25in; line-height: normal; margin: 12.0pt 0in 12.0pt .5in;">5.<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;</p>
                    </td>
                    <td style="width: 12.5%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="12%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">_first_pageview</p>
                    </td>
                    <td style="width: 17.2%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="17%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookie (functional)</p>
                    </td>
                    <td style="width: 37.54%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="37%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Session cookie set on the first page view of any visit so that certain parts of the code only fire on the first page view, making the page faster and more efficient.</p>
                    </td>
                    <td style="width: 21.84%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="21%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">10 minutes</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10.92%; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt;" width="10%">
                        <p style="text-align: justify; text-indent: -.25in; line-height: normal; margin: 12.0pt 0in 12.0pt .5in;">6.<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;</p>
                    </td>
                    <td style="width: 12.5%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="12%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">_ga</p>
                    </td>
                    <td style="width: 17.2%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="17%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookie (performance-enhancing)</p>
                    </td>
                    <td style="width: 37.54%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" rowspan="7" width="37%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookies provided by Google Analytics to help us measure how users interact with our Website&rsquo;s content (see Article 3.3).</p>
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;"><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Learn more about Google Analytics Cookie Usage on Websites</a>.</p>
                    </td>
                    <td style="width: 21.84%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="21%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">2 years</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10.92%; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt;" width="10%">
                        <p style="text-align: justify; text-indent: -.25in; line-height: normal; margin: 12.0pt 0in 12.0pt .5in;">7.<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;</p>
                    </td>
                    <td style="width: 12.5%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="12%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">_gat</p>
                    </td>
                    <td style="width: 17.2%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="17%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookie (performance-enhancing)</p>
                    </td>
                    <td style="width: 21.84%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="21%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">1 minute</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10.92%; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt;" width="10%">
                        <p style="text-align: justify; text-indent: -.25in; line-height: normal; margin: 12.0pt 0in 12.0pt .5in;">8.<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;</p>
                    </td>
                    <td style="width: 12.5%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="12%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">_gat_additional</p>
                    </td>
                    <td style="width: 17.2%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="17%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookie (performance-enhancing)</p>
                    </td>
                    <td style="width: 21.84%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="21%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">1 minute</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10.92%; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt;" width="10%">
                        <p style="text-align: justify; text-indent: -.25in; line-height: normal; margin: 12.0pt 0in 12.0pt .5in;">9.<span style="font: 7.0pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;</p>
                    </td>
                    <td style="width: 12.5%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="12%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">_gid</p>
                    </td>
                    <td style="width: 17.2%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="17%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookie (performance-enhancing)</p>
                    </td>
                    <td style="width: 21.84%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="21%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">24 hours</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10.92%; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt;" width="10%">
                        <p style="text-align: justify; text-indent: -.25in; line-height: normal; margin: 12.0pt 0in 12.0pt .5in;">10.<span style="font: 7.0pt 'Times New Roman';">&nbsp; </span>&nbsp;</p>
                    </td>
                    <td style="width: 12.5%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="12%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">_utma</p>
                    </td>
                    <td style="width: 17.2%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="17%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookie (performance-enhancing)</p>
                    </td>
                    <td style="width: 21.84%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="21%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">2 years from set/update</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10.92%; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt;" width="10%">
                        <p style="text-align: justify; text-indent: -.25in; line-height: normal; margin: 12.0pt 0in 12.0pt .5in;">11.<span style="font: 7.0pt 'Times New Roman';">&nbsp; </span>&nbsp;</p>
                    </td>
                    <td style="width: 12.5%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="12%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">_utmc</p>
                    </td>
                    <td style="width: 17.2%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="17%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookie (performance-enhancing)</p>
                    </td>
                    <td style="width: 21.84%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="21%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">End of browser session</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10.92%; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt;" width="10%">
                        <p style="text-align: justify; text-indent: -.25in; line-height: normal; margin: 12.0pt 0in 12.0pt .5in;">12.<span style="font: 7.0pt 'Times New Roman';">&nbsp; </span>&nbsp;</p>
                    </td>
                    <td style="width: 12.5%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="12%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">_utmz</p>
                    </td>
                    <td style="width: 17.2%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="17%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookie (performance-enhancing)</p>
                    </td>
                    <td style="width: 21.84%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="21%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">6 months from set/update</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10.92%; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt;" width="10%">
                        <p style="text-align: justify; text-indent: -.25in; line-height: normal; margin: 12.0pt 0in 12.0pt .5in;">13.<span style="font: 7.0pt 'Times New Roman';">&nbsp; </span>&nbsp;</p>
                    </td>
                    <td style="width: 12.5%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="12%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">_jsuid</p>
                    </td>
                    <td style="width: 17.2%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="17%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookie (performance-enhancing)</p>
                    </td>
                    <td style="width: 37.54%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="37%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;"><span style="color: #333333; background: white;">Cookie to hold a random number that is generated the first time someone visits our Website. Its sole purpose is to better identify new and unique visitors to our Website.</span></p>
                    </td>
                    <td style="width: 21.84%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="21%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">20 years</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10.92%; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt;" width="10%">
                        <p style="text-align: justify; text-indent: -.25in; line-height: normal; margin: 12.0pt 0in 12.0pt .5in;">14.<span style="font: 7.0pt 'Times New Roman';">&nbsp; </span>&nbsp;</p>
                    </td>
                    <td style="width: 12.5%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="12%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">_referrer_og</p>
                    </td>
                    <td style="width: 17.2%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="17%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookie (performance-enhancing)</p>
                    </td>
                    <td style="width: 37.54%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="37%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookie to store the external referrer for you so that on future visits the same referrer will be attached to your session.</p>
                    </td>
                    <td style="width: 21.84%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="21%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">90 days</p>
                    </td>
                </tr>


                <tr>
                    <td style="width: 10.92%; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt;" width="10%">
                        <p style="text-align: justify; text-indent: -.25in; line-height: normal; margin: 12.0pt 0in 12.0pt .5in;">15.<span style="font: 7.0pt 'Times New Roman';">&nbsp; </span>&nbsp;</p>
                    </td>
                    <td style="width: 12.5%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="12%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">has_js</p>
                    </td>
                    <td style="width: 17.2%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="17%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Cookie (functional)</p>
                    </td>
                    <td style="width: 37.54%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="37%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Session cookie to check whether or not your browser has JavaScript enabled.</p>
                    </td>
                    <td style="width: 21.84%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="21%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">End of browser session</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10.92%; border: solid windowtext 1.0pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt;" width="10%">
                        <p style="text-align: justify; text-indent: -.25in; line-height: normal; margin: 12.0pt 0in 12.0pt .5in;">16.<span style="font: 7.0pt 'Times New Roman';">&nbsp; </span>&nbsp;</p>
                    </td>
                    <td style="width: 12.5%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="12%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Facebook Pixel</p>
                    </td>
                    <td style="width: 17.2%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="17%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Similar technology</p>
                    </td>
                    <td style="width: 37.54%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="37%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">Technology provided by Facebook to measure the effectiveness of our advertising by understanding the actions users take on our Website (see Article 3.4).</p>
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;"><a href="https://www.facebook.com/business/help/651294705016616">Learn more about Facebook Pixel</a>.</p>
                    </td>
                    <td style="width: 21.84%; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt;" width="21%">
                        <p style="text-align: center; line-height: normal; margin: 12.0pt 0in 12.0pt 0in;">N/A</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>

        <li>
            <strong>TO WHOM DO WE SEND YOUR PERSONAL DATA?</strong>
            <ol>
                <li>We rely on third parties, for example:
                    <ul>
                        <li>To provide you our Website (such as a hosting provider); or</li>
                        <li>To target our promotional information (such as a marketing company); or</li>
                        <li>To process your order (such as a transport company to deliver you the materials); or</li>
                        <li>To process your payment (such as a payment service provider or a credit checking agency).</li>
                    </ul>
                    <p>These third parties are only allowed to process your personal data on our behalf and upon our explicit written instruction. We also warrant that all those third parties are selected with due care and are committed to observing the safety and integrity of your personal data.</p>
                </li>
                <li>We may share your personal data with other national, regional or local organizations of the Church of Scientology, such as local Churches, Missions and social betterment and humanitarian programs. For example, we may share your contact details with a Church in your area if you have expressed an interest in joining a Scientology organization so that they can contact you. However, we will ensure that all Scientology organizations will take due care that all processing of your personal data is in line with what is set out in this Cookie Policy.</li>
                <li>We may share your personal data for the purposes mentioned in Article 3 with the International Association of Scientologists Administrations (<a href="https://www.iasmembership.org/about/privacy-notice.html">IASA</a>) and the World Institute of Scientology Enterprises (<a href="http://www.wise.org/en_US/feature/legal/privacy.html">WISE</a>). If you require more information about the personal data IASA and WISE process, you are kindly requested to consult their respective privacy policies.</li>
                <li>We may be legally obliged to share your personal data with competent law enforcement agents or representatives, judicial authorities, governmental agencies or bodies, including competent data protection authorities, to comply with a legal obligation as set out in Article 3 above.</li>
                <li>We do not send your personal data in an identifiable manner to any other third party than the ones mentioned in Articles 4.1, 4.2, 4.3 and 4.4 without your explicit consent to do so. However, we may send anonymized data to other organizations that may use those data for improving materials and services as well as to tailor the marketing, displaying and selling of those materials and services.</li>
            </ol>
        </li>
        <li><strong>WHERE DO WE PROCESS YOUR PERSONAL DATA?</strong>
            <ol><!-- list-->
                <li>We process your personal data both within and outside the European Economic Area (EEA), including in the USA. In order to process your personal data for the purposes outlined in Article 3 above, we may also transfer your personal data to third parties who process on our behalf outside the EEA. Each entity outside the EEA that processes your personal data will be bound to observe adequate safeguards with regard to the processing of your personal data. For CSI, such safeguards result from the fact that we are directly bound by compliance with EU legislation in the context of personal data protection. For third parties, such safeguards may be the consequence of:</li>
                <ul>
                    <li>The recipient country having legislation in place which may be considered equivalent to the protection offered within the EEA; or</li>
                    <li>A contractual arrangement between us and that entity; or</li>
                    <li>An approved certification mechanism, such as the EU-US Privacy Shield decision adopted by the European Commission on 12 July 2016.
                    </li>
                </ul>

                <li>We may transfer anonymized and/or aggregated data to organizations outside the EEA. Should such transfer take place, we will ensure that there are safeguards in place to ensure the safety and integrity of your data and all rights with respect to your personal data you might enjoy under applicable mandatory law.</li>
            </ol><!-- list-->
        </li>

        <li><strong>WHAT QUALITY ASSURANCES DO WE COMPLY WITH?</strong>
            <ol><!-- list-->
                <li>We do our utmost best to process only those personal data which are necessary to achieve the purposes listed under Article 3 above.</li>
                <li>Your personal data are only processed for as long as needed to achieve the purposes listed under Article 3 above or up until such time where you withdraw your consent for processing them. Your withdrawal of consent may imply that you can no longer use the whole or part of our Website. We will de-identify your personal data when they are no longer necessary for the purposes outlined in Article 3 above, unless there is:</li>
                <ul><!-- list-->
                    <li>An overriding interest of CSI, or any other third party, in keeping our personal data identifiable; or</li>
                    <li>A legal or regulatory obligation or a judicial or administrative order that prevents us from de-identifying them.
                    </li>
                </ul>

                <li>You understand that an essential aspect of our marketing efforts pertains to making our marketing materials more relevant to you. We do this by customizing your unique profile based on relevant characteristics and then use this profile to provide you with communications, promotions, offerings, newsletters and other promotional information about materials and services that may interest you.</li>
                <li>We will take appropriate technical and organizational measures to keep your personal data safe from unauthorized access or theft as well as accidental loss tampering or destruction. Access by our staff members or third parties&rsquo; personnel will only be on a need-to-know basis and be subject to strict confidentiality obligations. You understand, however, that safety and security are best efforts obligations which can never be guaranteed.</li>
                <li>If you are registered to receive promotional information, such as communications, promotions, offerings and newsletters, via e-mail or other person-to-person electronic communication channels, you can change your preferences for receiving such promotional information by clicking the opt-out link provided in such promotional information.</li>
                <li>If you are registered to receive paper promotional information, such as magazines, communications, promotions, offerings and newsletters, you can object to receiving further promotional information on paper by submitting a request to our Data Protection Officer in accordance with Article 8.8 of this Cookie Policy.</li>
            </ol><!-- list-->
        </li>
        <li><strong>WHAT IF YOU DON&rsquo;T LIKE COOKIES?</strong>
            <ol><!-- list-->
                <li>In order to prevent cookies from being placed on your device, you have to configure your browser settings. How to adjust these settings, to delete cookies and to withdraw your consent to our use of cookies depends on the browser you are using. However, keep in mind that modifying these settings or deleting cookies may result in certain features of this Website no longer working properly. Click on the browser you are using below to get more information about how to adjust the cookie settings:</li>
                <ul><!-- list-->
                    <li><a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies">Internet Explorer</a></li>
                    <li><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;hl=en">Chrome</a></li>
                    <li><a href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac">Safari</a></li>
                </ul><!-- list-->
            </ol><!-- list-->
        </li>
        <li><strong>WHAT ARE YOUR RIGHTS?</strong>
            <ol><!-- list-->
                <li>You have <u>the right to request access</u> to all personal data processed by us pertaining to you. We reserve the right to charge a reasonable administrative fee for multiple subsequent requests for access that are clearly submitted for causing nuisance or harm to us. Each request must specify for which processing activity you wish to exercise your right to access and must specify to which data categories you wish to gain access to.</li>
                <li>You have <u>the right to rectification</u>, <em>e.</em> to ask that any personal data pertaining to you that are inaccurate, are corrected free of charge. If you submit a request for correction, your request needs to be accompanied of proof of the flawed nature of the data for which correction is asked.</li>
                <li>You have <u>the right to withdraw your earlier given consent</u> for processing of your personal data.</li>
                <li>You have <u>the right to erasure</u>, <em>e. </em>to request that personal data pertaining to you be deleted if these data are no longer required in the light of the purposes or if you withdraw your consent for processing them. However, you need to keep in mind that a request for deletion will be evaluated by us against:</li>
                <ul><!-- list-->
                    <li>Our and a third parties&rsquo; interests which may override your interests; or</li>
                    <li>Legal or regulatory obligations or administrative or judicial orders which may contradict such deletion.</li>
                </ul>
                <li>You have <u>the right to restriction</u> instead of deletion, <em>e. </em>to request that we limit the processing of your personal data if:</li>
                <ul> 
                    <li>We are verifying the accuracy of your personal data; or</li>
                    <li>The processing is unlawful and you oppose the deletion of your personal data; or</li>
                    <li>You require your personal data to establish, exercise or defend a legal claim, while we do no longer need your personal data for the purposes listed under Article 3 above; or</li>
                    <li>We are verifying whether our legitimate interests override your interests if you exercise your right to object in accordance with Article 8.6.</li>
                </ul>
                <li>You have <u>the right to object</u> to the processing of personal data if:
                    <ul>
                        <li>The processing is based on our legitimate interest; and</li>
                        <li>You are able to prove that there are serious and justified reasons connected with your particular situation that warrant such objection; and</li>
                        <li>Our legitimate interests do not override your interests.</li>
                    </ul>
                    <p>However, if the intended processing qualifies as direct marketing, you have the right to object to such processing free of charge and without justification.</p>
                </li>
                <li>You have <u>the right to data portability</u>, <em>e.</em> to receive from us in a structured, commonly-used and machine-readable format all personal data you have provided to us if the processing is based on your consent or a contract with you.</li>
                <li>If you wish to <u>submit a request</u> to exercise one or more of the rights listed above, you can contact our Data Protection Officer by sending an e-mail to <a href="mailto:dpo@scientology.net">dpo@scientology.net</a>. An e-mail requesting to exercise a right will not be construed as consent with the processing of your personal data beyond what is required for handling your request. Such request should meet the following conditions:
                    <ul>
                        <li>State clearly which right you wish to exercise; and</li>
                        <li>State clearly the reasons for exercising your right if such is required; and</li>
                        <li>Your request should be dated and signed; and</li>
                        <li>Your request should be accompanied by a digitally scanned copy of your valid identity card proving your identity. If you use the contact form, we may ask you for your signed confirmation and proof of identity.</li>
                    </ul>
                    <p>We will promptly inform you of having received your request. If the request meets the conditions above and proves valid, we will honor it as soon as reasonably possible and at the latest thirty (30) days after having received your request.</p>
                    <p>If you have any complaints regarding the processing of your personal data by us, you may always contact our Data Protection Officer by sending an e-mail to <a href="mailto:dpo@scientology.net">dpo@scientology.net</a>. If you remain unsatisfied with our response, you are free to file a complaint with the competent data protection authority.</p>
                </li>
            </ol>
        </li>
    </ol>
    </main>
<footer style="clear:both">
            <div class="copyright">
                &copy; 2016 Church of Scientology. All Rights Reserved.
            </div>
            <nav class="footer-links">
                <a href="{% url 'privacy' %}">Datenschutzinformationen</a>
                -
                 <a href="{% url 'terms' %}">Nutzungsbedingungen</a>
                -
                 <a href="{% url 'leagal' %}">Rechtliche Informationen</a>
                 -
                 <a href="{% url 'cookie' %}">Cookie Policy</a>

            </nav>
        </footer>
        </div>  
</body>
</html>